<div class="withdraw_confirm" >
  <strong>本当に退会しますか？</strong>
  退会すると、会員登録情報や<br>
  これまでの購入履歴が閲覧出来なくなります。<br>
  それでも退会する場合は、「退会する」をクリックしてください。
</div>

<div class="not_withdrow">
  <%= link_to '退会しない', public_customers_path %>
</div>

<div class="withdraw">
  <%= link_to "退会する", public_withdraw_path, method: :put, "data-confirm" => "本当に退会しますか？" %>
</div>