<h2>ジャンルの編集</h2>
<%= form_for @gener, url: admin_genre_path(@genre.id) do |f|
  <div class="filed row">
  <lavel>ジャンル</lavel>
  <%= f.text_field :name %>

  <%= f.submit "変更を保存する" , "btn btn btn-primary">
  </div>
  <% end %>
