<thead>
  <h2>会員ID</h2>
  <h2>氏名</h2>
  <h2>ステータス</h2>
</thead>

<tbody>
  <% @customers.each do |customer| %>
    <td><%= customer.id %></td>
    <td><%= customer.front_name %> <%= customer.back_name %></td>
    <td>
      <% if customer.is_customer_status %>
        <span>退会</span>
      <% else %>
        <span>有効</span>
      <% end %>
  <% end %>
    </td>
</tbody>